.MyCartContainer {
    display: none;
    position: absolute;
    right: 0;
}

.isShow {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem;
    width: 100%;
    max-width: 32rem;
    height: calc(100vh - 120px);
    overflow-y: auto;
    background-color: wheat;
}

@media (min-width: 1039px)  {

    .MyCartContainer {
        display: flex;
        flex-direction: column;
        position: relative;
        grid-area: 1 / 1 / 3 / 2;
        height: 100%;
        width: 100%;
        padding-right: 1rem;
        overflow-y: auto;
    }
}

